.exp-table {
	&__title {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 10px;
		img {
			width: 20px;
			height: 20px;
			margin-right: 5px;
		}
		h3 {
			margin: 0;
			@include text(18px, 500, $black);
		}
	}
	&__body {
		border-collapse: collapse;
		width: 100%;
		text-align: center;
		margin-bottom: 40px;
		tr {
			height: 35px;
			&:nth-child(even) {
				background-color: rgba(4, 116, 198, 0.08);
			}
			&:first-child {
				height: 35px;
				@include text(12px, 600, $black);
			}
			th:first-child,
			td:first-child {
				text-align: center;
				@include text(12px, 600, $black);
				width: 120px;
			}
			th:not(:last-child),
			td:not(:last-child) {
				border-right: 1px solid rgba(0, 0, 0, 0.09);
			}
			td:not(:first-child) {
				@include text(12px, 300, $black);
			}
		}
	}
}
