@font-face {
	font-family: "mr_HamiltoneG";
	src: local("mr_HamiltoneG"), url("..fonts/20094.woff2") format("woff2"), url("..fonts/20094.woff") format("woff"),
		url("..fonts/20094.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
