.inv-one {
	background-image: url(../img/inv-one-bg.jpg);
	background-size: cover;
	padding: 40px 0 50px;
	text-align: center;
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 2;
	@media screen and (min-width: 700px) {
		padding: 55px 0 55px;
		background-image: url(../img/inv-one-bg-pc.jpg);
		background-position: 50% 0;
	}
	h1 {
		@include text(36px, 500, $black);
		margin-bottom: 30px;
		@media screen and (min-width: 700px) {
			font-size: 24px;
			margin-bottom: 25px;
		}
	}
	p {
		@include text(24px, 400, $black);
		margin-bottom: 70px;
		@media screen and (min-width: 700px) {
			font-size: 14px;
			margin-bottom: 40px;
		}
		@media screen and (min-width: 830px) {
			width: 550px;
			margin: 0 auto 30px;
		}
	}
	&__features {
		display: grid;
		grid-template-rows: repeat(2, auto);
		grid-template-columns: repeat(2, 1fr);
		@media screen and (min-width: 700px) {
			grid-template-rows: repeat(1, auto);
			grid-template-columns: repeat(4, 1fr);
		}
	}
	&__item {
		img {
			width: 90px;
			margin-bottom: 20px;
		}
		h3 {
			@include text(18px, 400, $black);
			@media screen and (min-width: 700px) {
				font-size: 14px;
			}
		}
	}
}
.inv-list {
	position: relative;
	padding: 60px 0 90px;
	background-color: #e7e7e7;
	@media screen and (min-width: 700px) {
		padding: 30px 0 50px;
	}
	h2 {
		@include text(36px, 500, $black);
		margin: 0 0 90px;
		@media screen and (min-width: 700px) {
			font-size: 24px;
			margin: 0 0 30px;
		}
	}
	&__roll {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(8, 1fr);
		grid-column-gap: 30px;
		grid-row-gap: 40px;
		@media screen and (min-width: 700px) {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(4, 1fr);
		}
	}
	&__item {
		//width: 260px;
		@media screen and (min-width: 830px) {
			width: 200px;
		}
	}
	&__article {
		@include text(24px, 400, $black);
		line-height: 150%;
		@media screen and (min-width: 700px) {
			font-size: 11px;
		}
		@media screen and (min-width: 830px) {
			width: 170px;
		}
	}
	&__button {
		margin: 0 auto;
		position: initial !important;
	}
}
.inv__btn {
	margin: 20px auto 0;
	display: block;
}
.number {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2), -5px -5px 20px #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 35px;
	@media screen and (min-width: 700px) {
		width: 85px;
		height: 85px;
		margin-bottom: 20px;
	}
	@media screen and (min-width: 830px) {
		margin-bottom: 30px;
	}
	&__digit {
		@include text(72px, 900, $white);
		@media screen and (min-width: 700px) {
			font-size: 48px;
		}
	}
}
