.library {
	max-width: max-content;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.book {
	text-align: center;
	width: 200px;
	margin: 0 25px 40px;
	&__img {
		width: inherit;
		height: 280px;
		background-image: url(../img/library-plug.jpg);
		background-size: cover;
		margin-bottom: 10px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	h3 {
		@include text(15px, 400, $black);
		margin: 0 0 5px 0;
	}
	p {
		@include text(14px, 400, $black);
		margin: 0 0 20px 0;
	}
}
