.hide-pc {
  display: none;
}
.hide-mb {
  display: block;
}
@media screen and (min-width: 600px) {
  /* HEADER */
  .header {
    background: #006ff4 url(../img/header-bg.jpg) right;
    background-size: cover;
  }
  /* TABS */
  .tabs {
    min-height: auto;
    padding: 22px;
    background: #d9e2e9 url(../img/tabs-bg.jpg) 0 0 no-repeat;
    background-size: cover;
  }
  .tabs h2 {
    font-size: 11px;
    margin-bottom: 11px;
    letter-spacing: 0.06em;
  }
  .tabs-body {
    -webkit-box-shadow: 0 7px 12px rgba(37, 64, 110, 0.4);
            box-shadow: 0 7px 12px rgba(37, 64, 110, 0.4);
    margin: 0 auto;
    width: 450px;
    height: 204px;
    background-color: #ffffff;
  }
  .tabs-body-buttons {
    position: relative;
    grid-template-rows: 25px;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 2px solid #EAEFF3;
  }
  .tabs-body-buttons_item {
    cursor: pointer;
    border: none;
  }
  .tabs-body-buttons_item h3 {
    letter-spacing: 0.06em;
    font-size: 5px;
    font-family: 'Gilroy';
    font-weight: bold;
    font-style: normal;
    color: #000000;
  }
  .tabs-body-content {
    margin-top: 0;
    padding: 25px 33px;
  }
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .feature-img {
    width: 200px;
    margin-right: 20px;
  }
  .feature-img img {
    width: 100%;
  }
  .feature-content h3 {
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Gilroy';
    font-weight: 500;
    font-style: normal;
    font-size: 9px;
  }
  .feature-content ul {
    -webkit-padding-start: 16px;
       -moz-padding-start: 16px;
            padding-inline-start: 16px;
  }
  .feature-content ul li {
    font-size: 9px;
    margin-bottom: 5px;
  }
  .feature-content ul li span {
    letter-spacing: 0.06em;
    font-size: 5px;
  }
  .feature-content p {
    font-size: 5px;
    width: 150px;
    margin-bottom: 6px;
    letter-spacing: 0.06em;
  }
  .feature-content button {
    letter-spacing: 0.06em;
    cursor: pointer;
    margin: 0;
    width: 108px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid #006ff4;
    font-size: 5px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .feature-content button:hover {
    background-color: #bbdaff;
  }
  .feature-p-2 {
    line-height: 12px;
  }
  .blue-line {
    height: 2px;
    width: 53px;
    background-color: #006ff4;
    margin-bottom: 10px;
  }
  .tabs-active {
    background-color: #ffffff;
  }
  .active-line {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: absolute;
    width: 8%;
    height: 2px;
    left: 12.5%;
    background-color: #25406e;
    bottom: -2px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  /* SERVICES */
  .services {
    padding: 23px 0;
  }
  .services h2 {
    font-size: 11px;
    letter-spacing: 0.06em;
  }
  .services-content {
    grid-template-rows: 100px;
    grid-template-columns: repeat(4, 100px);
    max-width: 450px;
    grid-column-gap: 17px;
  }
  .services-content-item {
    height: 100px;
  }
  .services-content-item_button {
    letter-spacing: 0.05em;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: absolute;
    z-index: 3;
    height: 95px;
    border-radius: 2px;
  }
  .services-content-item_button h3 {
    font-size: 7px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .substrate-1 {
    background-color: #25406e;
    position: absolute;
    width: 100%;
    height: 95%;
    border-radius: 2px;
    z-index: 1;
  }
  .substrate {
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 90%;
    border-radius: 2px;
    z-index: 2;
  }
  .substrate-content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .substrate-content a {
    font-family: 'Gilroy';
    font-weight: normal;
    font-style: normal;
    font-size: 5px;
    color: #000000;
    padding-bottom: 7px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .substrate-content a:hover {
    color: #006ff4;
  }
  #SCIB-1,
  #SCIB-2,
  #SCIB-4 {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  #SCIB-1:hover,
  #SCIB-2:hover {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-size: 120%;
  }
  #SCIB-3 {
    position: absolute;
    z-index: 3;
  }
  /* COMPANY */
  .company h2 {
    letter-spacing: 0.06em;
    font-size: 7px;
    color: #000000;
  }
  .company-slider {
    position: relative;
    width: 400px;
    margin: 0 auto;
  }
  .arrow-prev {
    cursor: pointer;
    position: absolute;
    left: -20px;
    top: 50%;
    height: 20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border: none;
    background: url(../img/arrow-prev.svg) center no-repeat;
    background-size: 80%;
  }
  .arrow-next {
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: 50%;
    height: 20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border: none;
    background: url(../img/arrow-next.svg) center no-repeat;
    background-size: 80%;
  }
  /* ORDER */
  .order {
    min-height: 170px;
    background: #ffffff url(../img/order-bg.jpg) right no-repeat;
    background-size: cover;
  }
  .order-content {
    margin: 0 auto;
    max-width: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .order-left {
    margin-left: 96px;
    padding-top: 18px;
  }
  .order-left h3 {
    letter-spacing: 0.06em;
    font-size: 6px;
    margin-bottom: 5px;
  }
  .order-left h2 {
    /* letter-spacing:0.06em; */
    font-size: 11px;
    margin-bottom: 5px;
  }
  .order-left h4 {
    letter-spacing: 0.06em;
    font-size: 6px;
    margin-bottom: 25px;
  }
  .order-right {
    margin-right: 11%;
    position: relative;
  }
  .order-right-text {
    letter-spacing: 0.06em;
    font-family: 'Gilroy';
    font-weight: bold;
    font-style: normal;
    font-size: 5px;
    letter-spacing: 1px;
    color: #ffffff;
  }
  .order-right-text-row {
    position: relative;
    margin-bottom: 10px;
  }
  .order-feature-pc {
    left: -30px;
    top: 100px;
    position: absolute;
    z-index: 2;
    width: 85px;
    height: 34px;
  }
  .order-feature-pc-content {
    position: absolute;
    z-index: 3;
    width: 85px;
    height: 34px;
    border-radius: 17px;
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0 6px 15px rgba(0, 0, 0, 0.79);
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.79);
  }
  .order-feature-pc-content p {
    font-family: 'Gilroy';
    font-weight: bold;
    font-style: normal;
    font-size: 5px;
    color: #25406e;
  }
  .rings-arrow {
    z-index: 1;
    position: absolute;
    left: -13px;
    top: 0px;
    width: 14px;
  }
  .box {
    z-index: 4;
    width: 27px;
    left: -18px;
  }
  .button-preblock {
    width: 140px;
    height: 30px;
    position: initial;
    -webkit-transform: none;
            transform: none;
  }
  .button-block {
    height: 100%;
    width: 100%;
  }
  .button-block button {
    width: 100px;
    height: 100%;
    font-size: 6px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  .button-block button:hover {
    background-color: #bbdaff;
  }
  .button-block p {
    font-family: 'Gilroy';
    font-weight: bold;
    font-style: normal;
    font-size: 6px;
    right: 15px;
    top: 3px;
    line-height: 7.5px;
  }
  .order-rings {
    z-index: 1;
    top: -30px;
    left: -26px;
    width: 100px;
    position: absolute;
  }
  .auto-2 {
    z-index: 1;
    position: absolute;
    top: 42px;
    width: 300px;
    right: 0;
  }
  /* HOW */
  .how {
    padding-top: 20px;
    padding-bottom: 35px;
  }
  .how h2 {
    letter-spacing: 0.06em;
    font-size: 11px;
    margin-bottom: 20px;
  }
  .how-content {
    max-width: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .how-content-numbers {
    min-width: 350px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .how-content-numbers p {
    margin-bottom: 0;
    font-size: 36px;
  }
  .how-content-numbers-item {
    position: relative;
  }
  .how-content-words {
    max-width: 500px;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .how-content-words h3 {
    font-size: 5px;
    letter-spacing: 0.06em;
  }
  .digit-line {
    width: 56px;
    height: 1px;
    background-color: #006ff4;
    opacity: 0.09;
    position: absolute;
    top: 25px;
    left: -53px;
  }
  .words-item {
    margin: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .words-item img {
    width: 17px;
  }
  .words-item h3 {
    font-size: 5px;
    margin: 0 0 0 5px;
  }
}
@media screen and (min-width: 900px) {
  /* TABS */
  .tabs {
    padding: 30px 0;
  }
  .tabs h2 {
    font-size: 15px;
    margin-bottom: 23px;
  }
  .tabs-body {
    width: 680px;
    height: 305px;
  }
  .tabs-body-buttons {
    grid-template-rows: 36px;
  }
  .tabs-body-buttons_item h3 {
    font-size: 10px;
  }
  .feature-img {
    width: 310px;
  }
  .feature-content {
    padding: 0;
  }
  .feature-content h3 {
    font-size: 13px;
    margin-bottom: 11px;
  }
  .feature-content ul {
    max-width: 300px;
    -webkit-padding-start: 16px;
       -moz-padding-start: 16px;
            padding-inline-start: 16px;
  }
  .feature-content ul li {
    font-size: 16px;
    margin-bottom: 6px;
  }
  .feature-content ul li span {
    font-size: 10px;
  }
  .feature-content p {
    font-size: 10px;
    width: 250px;
    margin-bottom: 8px;
  }
  .feature-content button {
    width: 161px;
    height: 36px;
    border-radius: 18px;
    font-size: 7px;
  }
  .feature-p-2 {
    line-height: 18px;
  }
  .blue-line {
    width: 80px;
  }
  /* SERVICES */
  .services {
    padding: 30px 0;
  }
  .services h2 {
    font-size: 15px;
    margin-bottom: 30px;
  }
  .services-content {
    max-width: 670px;
    grid-template-columns: repeat(4, 155px);
    grid-template-rows: 135px;
  }
  .services-content-item {
    height: 155px;
  }
  .services-content-item_button {
    height: 95%;
  }
  .services-content-item_button h3 {
    font-size: 9px;
  }
  .substrate-content a {
    font-size: 7px;
    padding-bottom: 13px;
  }
  /* COMPANY */
  .company {
    padding-top: 10px;
    padding-bottom: 35px;
  }
  .company h2 {
    font-size: 8px;
    margin-bottom: 15px;
  }
  .company-slider {
    width: 550px;
  }
  .company-slider-item img {
    height: 25px;
  }
  .arrow-prev,
  .arrow-next {
    background-size: 150%;
  }
  /* ORDER */
  .order {
    min-height: auto;
    padding-bottom: 57px;
  }
  .order-content {
    max-width: 900px;
  }
  .order-left h3 {
    font-size: 9px;
    margin-bottom: 8px;
  }
  .order-left h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .order-left h4 {
    font-size: 10px;
    margin-bottom: 30px;
  }
  .order-right {
    margin-right: 5%;
  }
  .order-right-text {
    font-size: 8px;
  }
  .order-feature-pc {
    left: -85px;
    top: 115px;
  }
  .order-feature-pc-content {
    width: 136px;
    height: 50px;
    border-radius: 25px;
  }
  .order-feature-pc-content p {
    font-size: 8px;
  }
  .box {
    width: 40px;
    left: -23px;
  }
  .order-rings {
    top: -44px;
    left: -46px;
    width: 140px;
  }
  .auto-2 {
    z-index: 1;
    position: absolute;
    top: 64px;
    width: 380px;
    right: 0;
  }
  .rings-arrow {
    left: -19px;
    top: 2px;
    width: 23px;
  }
  .button-preblock {
    width: 211px;
    height: 44px;
  }
  .button-block p {
    font-size: 10px;
    top: 0px;
    line-height: 12.5px;
  }
  .button-block button {
    width: 155px;
    font-size: 9px;
  }
  /* HOW */
  .how {
    padding: 34px 0 50px ;
  }
  .how h2 {
    font-size: 15px;
    margin-bottom: 28px;
  }
  .how-content {
    max-width: 600px;
  }
  .how-content-numbers {
    min-width: 550px;
  }
  .how-content-numbers p {
    font-size: 59px;
  }
  .how-content-words {
    max-width: 600px;
  }
  .words-item img {
    width: 26px;
  }
  .words-item h3 {
    font-size: 7px;
  }
  .digit-line {
    width: 80px;
    top: 40px;
    left: -80px;
  }
}
@media screen and (min-width: 1200px) {
  /* TABS */
  .tabs {
    padding: 39px 0;
  }
  .tabs h2 {
    font-size: 23px;
    margin-bottom: 28px;
  }
  .tabs-body {
    width: 912px;
    height: 408px;
  }
  .tabs-body-buttons {
    grid-template-rows: 40px;
  }
  .tabs-body-buttons_item h3 {
    font-size: 13px;
  }
  .tabs-body-content {
    padding: 40px 55px;
  }
  .feature-img {
    width: 415px;
    margin-right: 35px;
  }
  .feature-content h3 {
    font-size: 23px;
    margin-bottom: 16px;
  }
  .feature-content ul {
    -webkit-padding-start: 16px;
       -moz-padding-start: 16px;
            padding-inline-start: 16px;
  }
  .feature-content ul li {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .feature-content ul li span {
    font-size: 11px;
  }
  .feature-content p {
    font-size: 11px;
    width: 220px;
    margin-bottom: 8px;
  }
  .feature-content button {
    width: 216px;
    height: 50px;
    border-radius: 25px;
    font-size: 10px;
  }
  .feature-p-2 {
    line-height: 25px;
  }
  .blue-line {
    width: 100px;
  }
  /* SERVICES */
  .services {
    padding: 40px 0;
  }
  .services h2 {
    font-size: 23px;
    margin-bottom: 34px;
  }
  .services-content {
    max-width: 906px;
    grid-template-columns: repeat(4, 210px);
    grid-template-rows: 206px;
    grid-column-gap: 23px;
  }
  .services-content-item {
    height: 206px;
  }
  .services-content-item_button {
    border-radius: 4px;
    height: 95%;
  }
  .services-content-item_button h3 {
    font-size: 15px;
  }
  .substrate {
    border-radius: 4px;
  }
  .substrate-content a {
    font-size: 12px;
    padding-bottom: 16px;
  }
  .substrate-1 {
    border-radius: 4px;
  }
  /* COMPANY */
  .company {
    padding-top: 14px;
    padding-bottom: 47px;
  }
  .company h2 {
    font-size: 14px;
    margin-bottom: 17px;
  }
  .company-slider {
    width: 750px;
  }
  .company-slider-item img {
    height: 30px;
  }
  .arrow-prev,
  .arrow-next {
    background-size: 180%;
  }
  /* ORDER */
  .order {
    min-height: auto;
    padding-bottom: 77px;
  }
  .order-content {
    max-width: 1200px;
  }
  .order-left h3 {
    font-size: 12px;
    margin-bottom: 17px;
  }
  .order-left h2 {
    font-size: 27px;
    margin-bottom: 18px;
  }
  .order-left h4 {
    font-size: 14px;
    margin-bottom: 47px;
  }
  .order-right {
    margin-right: 8%;
  }
  .order-right-text {
    font-size: 10px;
  }
  .order-feature-pc {
    left: -80px;
    top: 158px;
  }
  .order-feature-pc-content {
    width: 167px;
    height: 66px;
    border-radius: 33px;
  }
  .order-feature-pc-content p {
    font-size: 10px;
  }
  .box {
    width: 50px;
    left: -30px;
  }
  .order-rings {
    top: -73px;
    left: -70px;
    width: 200px;
  }
  .auto-2 {
    top: 70px;
    width: 508px;
  }
  .rings-arrow {
    left: -23px;
    top: 2px;
    width: 28px;
  }
  .button-preblock {
    width: 281px;
    height: 57px;
  }
  .button-block p {
    font-size: 12px;
    top: 2px;
    right: 24px;
    line-height: 15.5px;
  }
  .button-block button {
    width: 205px;
    font-size: 13px;
  }
  /* HOW */
  .how {
    padding: 50px 0 61px ;
  }
  .how h2 {
    font-size: 23px;
    margin-bottom: 35px;
  }
  .how-content {
    max-width: 800px;
  }
  .how-content-numbers {
    min-width: 700px;
  }
  .how-content-numbers p {
    font-size: 82px;
  }
  .how-content-words {
    margin: 0;
    max-width: 800px;
  }
  .words-item {
    margin: 0 15px;
  }
  .words-item img {
    width: 35px;
  }
  .words-item h3 {
    font-size: 11px;
  }
  .digit-line {
    width: 110px;
    height: 3px;
    top: 55px;
    left: -106px;
  }
}
@media screen and (min-width: 1800px) {
  /* TABS */
  .tabs {
    padding: 59px 0;
  }
  .tabs h2 {
    font-size: 40px;
    margin-bottom: 32px;
  }
  .tabs-body {
    width: 1361px;
    height: 611px;
  }
  .tabs-body-buttons {
    grid-template-rows: 75px;
  }
  .tabs-body-buttons_item h3 {
    font-size: 21px;
  }
  .tabs-body-content {
    padding: 65px 85px;
  }
  .feature-img {
    width: 622px;
    margin-right: 53px;
  }
  .feature-content h3 {
    font-size: 33px;
    margin-bottom: 19px;
  }
  .feature-content ul {
    -webkit-padding-start: 16px;
       -moz-padding-start: 16px;
            padding-inline-start: 16px;
  }
  .feature-content ul li {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .feature-content ul li span {
    font-size: 17px;
  }
  .feature-content p {
    font-size: 17px;
    width: 400px;
    margin-bottom: 15px;
  }
  .feature-content button {
    width: 324px;
    height: 72px;
    border-radius: 36px;
    font-size: 16px;
  }
  .feature-p-2 {
    list-style: 30px;
  }
  .blue-line {
    width: 130px;
  }
  /* SERVICES */
  .services {
    padding: 40px 0;
  }
  .services h2 {
    font-size: 40px;
    margin-bottom: 50px;
  }
  .services-content {
    max-width: 1355px;
    grid-template-columns: repeat(4, 310px);
    grid-template-rows: 281px;
    grid-column-gap: 34px;
  }
  .services-content-item {
    height: 281px;
  }
  .services-content-item_button {
    border-radius: 6px;
    height: 95%;
  }
  .services-content-item_button h3 {
    font-size: 22px;
  }
  .substrate {
    border-radius: 6px;
  }
  .substrate-content a {
    font-size: 18px;
    padding-bottom: 20px;
  }
  .substrate-1 {
    border-radius: 6px;
  }
  /* COMPANY */
  .company {
    padding-top: 20px;
    padding-bottom: 80px;
  }
  .company h2 {
    font-size: 24px;
    margin-bottom: 19px;
  }
  .company-slider {
    width: 1015px;
  }
  .company-slider-item img {
    height: 40px;
  }
  .arrow-prev,
  .arrow-next {
    background-size: 220%;
  }
  /* ORDER */
  .order {
    min-height: auto;
    padding-bottom: 190px;
  }
  .order-content {
    max-width: 1800px;
  }
  .order-left h3 {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .order-left h2 {
    font-size: 46px;
    margin-bottom: 20px;
  }
  .order-left h4 {
    font-size: 21px;
    margin-bottom: 58px;
  }
  .order-right {
    margin-right: 8%;
  }
  .order-right-text {
    font-size: 16px;
  }
  .order-feature-pc {
    left: -180px;
    top: 258px;
  }
  .order-feature-pc-content {
    width: 249px;
    height: 100px;
    border-radius: 50px;
  }
  .order-feature-pc-content p {
    font-size: 14px;
  }
  .box {
    width: 80px;
    left: -40px;
  }
  .order-rings {
    top: -110px;
    left: -90px;
    width: 300px;
  }
  .auto-2 {
    top: 109px;
    width: 850px;
  }
  .rings-arrow {
    left: -31px;
    top: 7px;
    width: 39px;
  }
  .button-preblock {
    width: 420px;
    height: 84px;
  }
  .button-block {
    border-radius: 42px;
  }
  .button-block p {
    font-size: 17px;
    top: 3px;
    right: 40px;
    line-height: 23.5px;
  }
  .button-block button {
    border-top-left-radius: 42px;
    border-bottom-left-radius: 42px;
    width: 305px;
    font-size: 20px;
  }
  /* HOW */
  .how {
    padding: 64px 0 67px ;
  }
  .how h2 {
    font-size: 40px;
    margin-bottom: 62px;
  }
  .how-content {
    max-width: 1185px;
  }
  .how-content-numbers {
    min-width: 1085px;
  }
  .how-content-numbers p {
    font-size: 129px;
  }
  .how-content-words {
    margin: 0;
    max-width: 1185px;
  }
  .words-item {
    margin: 0 30px;
  }
  .words-item img {
    width: 58px;
  }
  .words-item h3 {
    font-size: 19px;
  }
  .digit-line {
    width: 160px;
    height: 3px;
    top: 82px;
    left: -157px;
  }
}
/*# sourceMappingURL=index.desktop.style.css.map */